body {
font-family: Helvetica, sans-serif;
background: white;
margin: 0px;
}

header{
    text-align: center;
}

header img {
    width: 100%;
}

nav {
    background: #340299;
    color: white;
    padding: 10px 0 10px 0;
    margin-top: 0px;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

a {
    padding: 10px;
}

nav a:hover {
    background-color: #2a2565;
    padding: 10px;
    border-radius: 10px;
}

section{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

footer {
background-color: rgb(54, 54, 54);
padding: 5px;
font-weight: lighter;
font-size: 15px;
margin-bottom: opx;
text-align: center;
}

footer p {
    color: white;
}

a img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

p input {
    background: #1cb242;
    color: white;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    border: 300px;
    font-size: 17px;
}

input {
    width: 400px;
    height: 35px;
}

textarea {
    width: 400px;
    height: 80px;
}

.tienda {
    background-color: #f0e6e2; 
    padding: 30px;
    padding-bottom: 50px;
    width: 60%;
    margin: 20px auto;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.producto {
    padding: 15px;
    border-radius: 10px;
    width: 220px;
}

.producto img {
    width: 100%;
}


button {
    background-color: #340299;
    color: white;
    padding: 10px;
    border-radius: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #2a2565;
}